body {
  overflow-x: hidden;
}

.contact {
  margin-top: -75px;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.card-contact {
  margin-top: -100px;
}

.card-call {
  width: 500px;
  height: 300px;
}

.card-mail {
  width: 500px;
  height: 300px;
}

